<!-- This is the new FNAF website (for now) -->
<!DOCTYPE html>
<html>
<head>
	<title> Welcome to Freddy Fazbear's Pizza!</title>
</head>
<body>
	<h1> "A magical place for kids and grown-ups alike, where fantasy and fun come to life." </h1>
</body>
</html>
